name: Update Nord Pool Prices

on:
  schedule:
    - cron: "1 0 * * *"   # UTC 00:01 = Eesti 02:01 talvel
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests

      - name: Download Nord Pool data
        run: python download_nordpool.py

      - name: Create ee_today.json
        run: |
          python3 << 'EOF'
          import json

          with open("data/today_prices.json", "r") as f:
              data = json.load(f)

          ee_only = data["data"]["ee"]

          with open("data/ee_today.json", "w") as f:
              json.dump(ee_only, f)

          print("Created ee_today.json with", len(ee_only), "entries")
          EOF

      - name: Commit and push updates
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add data/today_prices.json data/ee_today.json
          git commit -m "Auto update prices" || echo "No changes"
          git push https://x-access-token:$GH_PAT@github.com/Janek432/nordpool-data.git HEAD:main
