name: Update Nord Pool Prices

on:
  schedule:
    - cron: '0 16 * * *' # UTC 16:00 = Eesti 18:00
  workflow_dispatch: # saab ka käsitsi käivitada

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Download Nord Pool data
        run: |
          python download_nordpool.py

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add data/today_prices.json
          git commit -m "Update today's Nord Pool prices" || echo "No changes to commit"
          git push https://$GH_PAT@github.com/Janek432/nordpool-data.git HEAD:main
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

